<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.rtl.min.css"
    integrity="sha384-dpuaG1suU0eT09tx5plTaGMLBsfDLzUCCUXOY2j/LSvXYuG6Bqs43ALlhIqAJVRb"
    crossorigin="anonymous"/>
    <link rel="stylesheet" href="/static/style.css">

    <title>Your Page Title</title>
  </head>
  <body> 
  <!--                     navbar                        -->

    <nav
      class="navbar navbar-expand-lg navbar- bg- fixed-top "id="navbart" style="background-color:rgba(237, 237, 237, 0.5); height:60px">
      <div class="container  ">
        <a class="navbar-brand fw-bold" style="color: #000000" href="#"
          ><h3>canva</h3></a
        >
        <div class="container ms-2 "  >
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent"style=" padding-left: 70%;">
          <ul class="navbar-nav ">
            <li class="nav-item dropdown ms-2">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                Explore
                </a>
                <ul class="dropdown-menu ms-auto">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider" /></li>
                  <li>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </li>
                </ul>
              </li>
              <li class="nav-item ms-2">
                <a class="nav-link" href="#">
                    License</a>
              </li>
            <li class="nav-item ms-2">
              <a class="nav-link" href="#">link</a>
            </li>
            <li class="nav-item dropdown ms-3">
               <a
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              > 
              
                <img src="/static/SVG/svg.svg" alt="" id="sidebar">
              </a>
               
              <ul class="dropdown-menu ms-auto">
                <li><a class="dropdown-item  position start-50" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a class="dropdown-item" href="#">Something else here</a>
                </li>
              </ul>
            </li>
          
          </ul>
       
        
        </div>
      </div>
     
        <a
          class="ms-5" id="link"
         
          type="link"
         href="signin.html"
        >
          Upload
        </a>
    </nav>
    <nav
    class="navbar navbar-expand-lg navbar- bg- fixed-top navbart2"id="navbart2" style="background-color:rgba(237, 237, 237); height:60px">
    <div class="container  ">
      <a class="navbar-brand fw-bold" style="color: #000000" href="#"
        ><h3>canva</h3></a
      >
      <form role="search" id="headr-h-h">
        <div
          class="container border rounded pt-2 pb-2"
          style="width: 600px; height: 60px; background: #fcfcfc"id="header-ser"
        >
          <button
            class="btn btn-light dropdown-toggle border"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Photos
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Images</a></li>
            <li><a class="dropdown-item" href="#">Videos</a></li>
          </ul>
          <input
            id="ok_but"
            class="rounded-3 btn btn-outline-light "
            style="height: 40px; width: 400px"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <a
            id="search"
            class="ms-3"
            type="submit"
          >
            <img src="/static/SVG/search-svgrepo-com.svg" alt="Search" id="serimg"  />
          </a>
        </div>
      </form>
      <div class="container ms-2 "  >
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent"style=" padding-left: 70%;">
        <ul class="navbar-nav ">
          <li class="nav-item dropdown ms-2">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
              Explore
              </a>
              <ul class="dropdown-menu ms-auto">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a class="dropdown-item" href="#">Something else here</a>
                </li>
              </ul>
            </li>
            <li class="nav-item ms-2">
              <a class="nav-link" href="#">
                  License</a>
            </li>
          <li class="nav-item ms-2">
            <a class="nav-link" href="#">link</a>
          </li>
          <li class="nav-item dropdown ms-3">
             <a
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            > 
            
              <img src="/static/SVG/svg.svg" alt="" id="sidebar">
            </a>
             
            <ul class="dropdown-menu ms-auto">
              <li><a class="dropdown-item  position start-50" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li>
                <a class="dropdown-item" href="#">Something else here</a>
              </li>
            </ul>
          </li>
        
        </ul>
     
      
      </div>
    </div>
   
      <a
        class="ms-5" id="link"
       
        type="link"
       href="signin.html"
      >
        Upload
      </a>
  </nav>
<!--                        video                         -->    
<!--  <div class="d">
      <video src="/static/video/main_video.mp4" autoplay="" loop="" loading="lazy"></video>
      
    </div> -->
    <div class="d">
      <video autoplay muted loop>
        <source src="https://mazwai.com/videvo_files/video/free/2014-06/small_watermarked/Blue_Sky_and_Clouds_Timelapse_0892__Videvo_preview.webm" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
 <!-- <div class="d">
  <img src="/static/img/natur.jpg">
 </div> -->
 <!--                        header                        -->
    <header class="banner embed-responsive-item mb-5" id="header">
      <div
        class="container position-absolute top-0 start-50 translate-middle"id="header-h"
        style="width: 600px; margin-top: 250px"
      >
        <h2 class="mb-5 fw-bold" style="color: rgb(239, 239, 239)">
          The best free stock videos shared by the canon community.
        </h2>
        <form role="search" id="headr-h-h">
          <div
            class="container border rounded pt-2 pb-2"
            style="width: 600px; height: 60px; background: #fcfcfc"id="header-ser"
          >
            <button
              class="btn btn-light dropdown-toggle border"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Photos
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Images</a></li>
              <li><a class="dropdown-item" href="#">Videos</a></li>
            </ul>
            <input
              id="ok_but"
              class="rounded-3 btn btn-outline-light "
              style="height: 40px; width: 400px"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <a
              id="search"
              class="ms-3"
              type="submit"
            >
              <img src="/static/SVG/search-svgrepo-com.svg" alt="Search" id="serimg"  />
            </a>
          </div>
        </form>
      </div>
    </header>
   <!--                      main                          -->
    <main class="main">
      
      <div
        class="container position-absolute top-50 start-50 translate-middle  "id="main"
        style=" margin-top: 200px;"
      >
        <ul class="nav nav-pills nav-fill  me-3" id="main-in">
          <div class="chard  position-relative me-5 ">
            <h5 class="position-absolute top-50 start-50 translate-middle text-light fw-bold">
              Animals
            </h5>
            <img
              src="/static/img/animal.jpg"
              class="card-img-top "
              alt="..."
            />
          </div>
          <div class="chard   position-relative me-5" >
            <h5 class="position-absolute top-50 start-50 translate-middle text-light fw-bold">
                Flower
            </h5>
            <img src="/static/img/flower.jpg" class="card-img-top" alt="..." />
          </div>

          <div class="chard   position-relative me-5" >
            <h5 class="position-absolute top-50 start-50 translate-middle text-light fw-bold">
                Nature
            </h5>
            <img src="/static/img/natur.jpg" class="card-img-top" alt="..." />
          </div>

          <div class="chard   position-relative me-5" >
            <h5 class="position-absolute top-50 start-50 translate-middle text-light fw-bold">
             Care
            </h5>
            <img src="/static/img/car.jpg" class="card-img-top" alt="..." />
          </div>

         
          

        </ul>
      </div>
      <div class="containe">
        <div class="box"><img src="/static/img/img1.jpg"></div>
        <div class="box"><img src="/static/img/img2.jpg"></div>
        <div class="box"><img src="/static/img/img3.jpg"></div>
        <div class="box"><img src="/static/img/img4.jpg"></div>
        <div class="box"><img src="/static/img/img5.jpg"></div>
        <div class="box"><img src="/static/img/img6.jpg"></div>
        <div class="box"><img src="/static/img/img7.jpg"></div>
        <div class="box"><img src="/static/img/img8.jpg"></div>
        <div class="box"><img src="/static/img/img9.jpg"></div>
        <div class="box"><img src="/static/img/img10.jpg"></div>
        <div class="box"><img src="/static/img/img11.jpg"></div>
       
  
      </div>
    </main>
   

   <!--                   img section                       -->
  
     
   
    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <script src="script.js"></script>
  </body>
</html>
